@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #eee;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

header {
    background: #222;
    padding: 20px 100px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-weight: 600;
    font-size: 20px;
}

header nav a {
    color: #fff;
    margin-left: 15px;
    text-decoration: none;
    transition: all 500ms ease;
}

header nav a.btn {
    padding: 5px;
    border: 1px solid silver;
    border-radius: 5px;
}

header nav a:hover {
    color: #a1a1a1;
}

header nav a.btn:hover {
    border-color: #de7474;
}

main {
    float: left;
    margin-top: 50px;
    margin-left: 100px;
    width: 50%;
}

aside {
    float: right;
    margin-top: 50px;
    margin-right: 100px;
    width: 400px;
}

aside .info {
    background: #ffc007;
    color: #42410c;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    line-height: 140%;
    border-radius: 5px;
}

aside .info h2 {
    margin-bottom: 10px;
}

aside img {
    width: 100%;
    border: 5px solid #fff;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 30px;
}

form {
    margin: 30px 0;
}

form label {
    display: block;
    margin-bottom: 5px;
    width: 100%;
    cursor: pointer;
}

form input, form textarea {
    width: 100%;
    resize: vertical;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 15px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

form button {
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background: #fec008;
    color: #42410c;
    transition: transform 500ms ease;
}

form button:hover, .post a:hover {
    transform: scale(1.1);
}

.error-mess{
    color: #de7474;
    margin: 10px 0;
    font-weight: 600;
    display: none;
}

.post{
    margin-bottom: 50px;
}

.post h1{
    margin-bottom: 10px;
}

.post .avtor{
    margin-top: 15px;
    font-weight: 600;
}

.post .avtor span{
    background: #e1bb4a;
    padding: 2px 7px;
    font-weight: 300;
    border-radius: 2px;
}

.post a{
    text-decoration: none;
    display: block;
    margin-top: 20px;
    width: 100px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 5px;
    background: #fec008;
    color: #42410c;
    transition: transform 500ms ease;
}

.comment{
    width: 100%;
    background: #fec008;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    color: #42410c;
    margin-bottom: 30px;
}

footer {
    float: left;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    background: #222;
    padding: 30px;
    color: #fff;
    margin-top: 100px;
}

